body {
    background-color: #161625;
    display: flex;
    justify-content: center;
    font-family: 'Arial', sans-serif;
}

#title {
    color: #00ffbf;
    font-size: 48px;
    margin-top: 64px;
    margin-bottom: 48px;
    text-align: center;
    text-shadow: 0 0 16px #00ffbf;
}

#calculator {
    background-color: #4e4e4e;
    border-radius: 10px;
    box-shadow: 0 0 32px #000000;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 480px
}

#display {
    background-color: #1c1c1c;
    border-radius: 10px;
    box-shadow: inset 0 0 16px #000000;
    color: #ffffff;
    font-size: 42px;
    height: 80px;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding: 16px 24px;
    text-align: right;
    width: 100%;
    overflow: hidden;
}

#buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    width: 100%;
}

.row {
    display: contents;
}

button {
    background-color: #333333;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 4px 8px #000000;
    color: #ffffff;
    font-size: 24px;
    padding: 20px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.1s;
}

button:hover {
    background-color: #272727;
}

button:active {
    box-shadow: inset 2px 4px 8px #000000;
}

#footer {
    color: #00ffbf;
    font-size: 14px;
    margin-top: 16px;
    text-shadow: 0 0 8px #00ffbf;
    text-align: center;
}

a {
    color: #00bbff;
    text-decoration: none;
}
